{% extends 'base.html' %}

{% block title %}SEAT: Create Report{% endblock %}

{% block content %}
  <h2>Create SEAT Report</h2>
  <form action="{% url 'core:step-one' %}" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Report Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="My First Report" name="name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Description..." name="description">
    </div>
    <small id="emailHelp" class="form-text text-muted">Tip: Open the Help page in a separate tab to guide you through the pipeline.</small>
    <button type="submit" class="btn btn-primary">Start New Report</button>
  </form>
{% endblock %}
