{% extends 'base.html' %}

{% block title %}SEAT: Step 4{% endblock %}

{% block content %}
  <h2>Step 4: Run Sentiment Analysis Model on Tweets</h2>

  &nbsp;
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Congratulations!</b> You have reached the last step of pipeline.<br>
        Choose one or more sentiment analysis methods below.
      </li>
      <li class="list-group-item">
        <b>Notes:</b> <br />
        <ul>
          <li>If you are unfamiliar with the methods, select all available models to experiment with them.</li>
          <li>SEAT will help aggregate results if more than one method is chosen.</li>
        </ul>
      </li>
    </ul>
  </div>
  &nbsp;

  <form action="{% url 'core:step-four-results' %}" method="POST">{% csrf_token %}

    <div class="form-group row">
      <label for="reportName" class="col-sm-2 col-form-label"><b>Report Name</b></label>
      <div class="col-sm-10">
        <input class="form-control" type="text" value="{{ report.name }}" name="reportName" readonly>
      </div>
      <label for="reportName" class="col-sm-2 col-form-label"><b>Report ID</b></label>
      <div class="col-sm-10">
        <input class="form-control" type="text" value="{{ report.id }}" name="reportID" readonly>
      </div>
    </div>
    &nbsp;

    &nbsp;
    <h4>Sentiment Analysis Options</h4>
    &nbsp;

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="True" id="defaultCheck1" name="nltk">
      <label class="form-check-label" for="defaultCheck1">
        NLTK Pre-Trained Model (SentimentIntensityAnalyzer)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="True" id="defaultCheck1" name="textblob">
      <label class="form-check-label" for="defaultCheck1">
        TextBlob Pre-Trained Model (Sentence Sentiment)
      </label>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Submit Analysis Options</button>
  </form>

{% endblock %}
